<section class="container-lg container-fluid pt-4 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <button class="btn btn-outline-primary mb-4" (click)="navigateBack()"><i class="bi bi-arrow-left"></i> Regresar</button>
      <div class="card rounded-4 border-0">
        <div class="card-body p-5 text-start">
          <img [src]="new.picture" alt="news-image" height="420" class="w-100 mb-3 rounded-4 object-fit-cover">
          <div class="container">
            <h5 class="mb-2">{{ new.title }}</h5>
            <p>{{ new.description }}</p>
            <small class="text-secondary">{{ new.date }} - Por: {{ new.reporter }} en {{ new.city }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
