<header class="w-100" style="position: fixed; z-index: 999">
  <!-- As a link -->
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">📰 <span class="fw-bold">NEWSBY</span> | Portal de noticias</a>
      <div class="d-flex">
        <input class="form-control me-2" [(ngModel)]="titleNote" (ngModelChange)="findNote($event)" type="search" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </nav>
</header>
